.img-carosel-size{
    height: 33.8rem;
}

@media (min-width:768px) and (max-width: 1024px){
    .img-carosel-size{
        height: 25.8rem;
    }
}

@media (max-width: 768px){
    .img-carosel-size{
        height: 20.8rem;
    }
}