
.img-carosel-size{
    height: 33.8rem;
    opacity: .5;
}
.padding-1-10{
    padding: 0 10%;
    background-color: beige;
    margin-bottom: -3rem;
}
.slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
  .carousel-caption{
    padding-bottom: 6rem;
    color: #dee2e6 !important;
}
@media (min-width:768px) and (max-width: 1024px){
    .img-carosel-size{
        height: 25.8rem;
    }
}

@media (max-width: 768px){
    .img-carosel-size{
        height: 24.8rem;
    }
    .padding-1-10{
        padding: 0;
    }
    .carousel-caption{
        padding-bottom: .5rem;
        color: #dee2e6 !important;
    }
}
