<div class="service">
<div class="margin-top-2 padding-1-10">
  <h3 class="text-info">Services</h3>
  <ul class="text-size">
    <li>FTL (Full Truck Load)</li>
    <li> LTL (Less-than-truck load)</li>
    <li>ECL (Express Container Load)</li>
    <li>PTS (Project Transportation Service)</li>
    <li>GPS (General Parcel Service)</li>
    <li>Warehouses facilities</li>
    <li>CNF and CFA (Clearing and Forwding Agent)</li>
    <li> CCS (Custom Clearance Services)</li>
    <li>LMV (Light Motor Vechiles) to HMV (Heavy Motor Vechiles) Services</li>
  </ul>
</div>
</div>