.service {
    background-color: #f5f5dc;
    margin: -1rem 0 -3rem 0rem;
.margin-top-2{
    margin-top: 4.5rem;
    
}
.padding-1-10{
    padding: 5% 10%;
}
.text-size{
    line-height: 3rem;
    font-family: 'Open Sans', sans-serif;
}
}
@media (max-width:768px){
    .padding-1-10{
        padding: 0;
    } 
}
