/* .bg-img{
    height: 150px;
    width: 100%;
    background: url(src\assets\img-2.jpg);
	background-repeat:no-repeat;
}
.counter_img {
    float: left;
    width: 57px;
}
.counter_wrap {
    display: inline-block;
    margin-bottom: 30px;
}
.counter_box {
    float: left;
    margin-left: 20px;
    color: #1b1b1b;
}
.new_number_counter {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    margin-top: 2.5rem;
    color: azure;
    text-align: center;
}
.vehicle-details{
    text-transform: uppercase; 
    font-size: 18px;   
    font-weight: 700;
    color: azure;
    text-align: center;
    padding: 10px;
}

.margin-card{
    margin: 10px;
    background: url(src\assets\img-2.jpg);
} */
.card-flip>div {
    backface-visibility: hidden;
    transition: transform 200ms;
    transition-timing-function: linear;
    width: 100%;
    height: 25vh;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.bg-image-road {    
    height: 38vh;
    width: 100%;
}

#pot {
    bottom: 15%;
    position: absolute;
    -webkit-animation: linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
        webkit-transform: scaleX(-1);
    }
}

@media (max-width:768px) {
    .card {
        height: 30vh;
        margin-bottom: 10px;
    }
}