<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="card card-flip">
        <div class="card-front text-white bg-primary">
          <div class="card-body text-size padding-top-12">
            <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
            <h2 class="card-title text-center">32</h2>
            <p class="card-text text-center">Vehicles on own with good condition</p>
          </div>
        </div>
        <div class="card-back bg-white"  style="background-image: url(../../assets/back-img1.jpg); background-position: center;    background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        max-height: 100%; ">
          <div class="card-body text-primary" >
         <!--    <img src="../../assets/back-img1.jpg" style="height: 32vh; width:100%;"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="card card-flip">
        <div class="card-front text-white bg-primary">
          <div class="card-body text-size">
            <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
            <h2 class="card-title text-center">42+</h2>
            <p class="card-text text-center">Associates Vehicles with good condition</p>
          </div>
        </div>
        <div class="card-back bg-white" style="background-image: url(../../assets/back-img-2.jpg); background-position: center;    background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        max-height: 100%; ">
          <div class="card-body text-primary">
             <!--  <img src="../../assets/back-img-2.jpg" style="height: 32vh; width:100%;"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="card card-flip">
        <div class="card-front text-white bg-primary">
          <div class="card-body text-size">
            <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
            <h2 class="card-title text-center">1000+</h2>
            <p class="card-text text-center">Trustworthy employees with 10+ years of experiance</p>
          </div>
        </div>
        <div class="card-back bg-white" style="background-image: url(../../assets/img-back-4.jpg); background-position: center;    background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        max-height: 100%;">
          <div class="card-body text-primary">
             <!--  <img src="../../assets/back-img-3.jpg" style="height: 32vh; width:100%;"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>