<!-- <div class="row bg-img" style="padding-left: 1.8rem;">
  <div class="col-sm-4 col-md-4 col-xs-12">
    <div class="counter_wrap">
      <div class="counter_box">
        <div class="new_number_counter counter">32</div>
        <div class="new_number_for vehicle-details">
          <b>Vehicles on own</b>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-4 col-xs-12">
    <div class="counter_wrap">
      <div class="counter_box">
        <div class="new_number_counter counter">50+</div>
        <div class="new_number_for vehicle-details">
          <b> Associate Vehicles</b>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-4 col-xs-12">
    <div class="counter_wrap">
      <div class="counter_box">
        <div class="new_number_counter counter">1000+</div>
        <div class="new_number_for vehicle-details">
          <b>Employees</b>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 margin-card" >
      <div class="card" style="background: linear-gradient(to left bottom,rgba(3, 100, 245, 0.17),#00ff2b78);
    height: 20vw;
    color: azure;">
        <div class="card-body">
          <h5 class="card-title text-center">32</h5>
          <p class="card-text">own Vehicles with good condition.</p>
        </div>
      </div>
    </div>

  </div>

</section>
 -->

     <div class="container-fluid">
         <div class="row">
             <div class="col-md-4 col-sm-12 col-xs-12">
                 <div class="card card-flip">
                     <div class="card-front text-white bg-primary">
                         <div class="card-body">
                             <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
                             <h3 class="card-title text-center">32</h3>
                             <p class="card-text text-center">Vehicles on own with good condition</p>
                         </div>
                     </div>
                     <div class="card-back bg-white">
                         <div class="card-body text-primary">
                             <h3 class="card-title text-center">Wow! #3</h3>
                             <p class="card-text">Suprise this one has content on the back!</p>
                             <a href="#" class="btn btn-outline-primary">Action</a>
                         </div>
                     </div>
                 </div>
             </div>
 
             <div class="col-md-4 col-sm-12 col-xs-12">
                 <div class="card card-flip">
                     <div class="card-front text-white bg-primary">
                         <div class="card-body">
                             <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
                             <h3 class="card-title text-center">42+</h3>
                             <p class="card-text text-center">Associates Vehicles with good condition</p>
                         </div>
                     </div>
                     <div class="card-back bg-white">
                         <div class="card-body text-primary">
                             <h3 class="card-title text-center">Wow! #3</h3>
                             <p class="card-text">Suprise this one has content on the back!</p>
                             <a href="#" class="btn btn-outline-primary">Action</a>
                         </div>
                     </div>
                 </div>
             </div>
 
             <div class="col-md-4 col-sm-12 col-xs-12">
                 <div class="card card-flip">
                     <div class="card-front text-white bg-primary">
                         <div class="card-body">
                             <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
                             <h3 class="card-title text-center">1000+</h3>
                             <p class="card-text text-center">Trustworthy employees with 10+ years of experiance</p>
                         </div>
                     </div>
                     <div class="card-back bg-white">
                         <div class="card-body text-primary">
                             <h3 class="card-title text-center">Wow! #3</h3>
                             <p class="card-text">Suprise this one has content on the back!</p>
                             <a href="#" class="btn btn-outline-primary">Action</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    <!--  <div class="bg-image-road">
         <div id="pot">
             <img src="move-img1.jpg" width="100px" height="100px">
         </div>
     </div> -->
