<div class="bottom-padding-10">
  <div class="card">
    <div class="card-header" style="font-size:20px">
      Mission
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul class="text-size">
          <li>To be an organization that is innovative, and a leader in identifying and adapting new techniques and technologies
            for our customers.</li>
          <li>To be an organization that provides its customers recommendations and solutions that are unbiased by potential
            economic gain from outside suppliers.</li>
          <li>To be an organization that has a passion for excellence in every activity we conduct.</li>
        </ul>
      </blockquote>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" style="font-size:20px">
    Warehouse
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        We have started warehousing business to provide a single window supply chain services, especially for toxic chemicals & pesticides
        delivery by a compact & covered vehicle with a professional manner
      </p>
    </blockquote>
  </div>
</div>