<div class="card" style="padding-top: 1.5rem;   text-align: justify;
font-family: cursive;
font-style: oblique;">
  <h4 class="text-primary">KPG Logistics private Ltd:</h4>
   <p> We started our journey way back in 1984 as a pioneer in road transportation movement
     under the upright enthusiastic leadership. Being the only Integrated Transport Company
      at the national level with 51 controlling offices its Head Quarters in the East (Kolkata)
       & Regional Offices at Mumbai, Goa, Kolkata, Delhi & Hyderabad.</p>
</div>

<div class="bottom-padding-10 row">
  <div class="card  col-md-6 col-sm-12 col-xs-12">
    <div class="card-height">
      <div class="bg-image-card">
        <div class="card-header bg-color text-white text-center text-size-header">
          Mission
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <ul class="text-size">
              <li>To be an organization that is innovative, and a leader in identifying and adapting new techniques and
                technologies
                for our customers.</li>
              <li>To be an organization that provides its customers recommendations and solutions that are unbiased by
                potential
                economic gain from outside suppliers.</li>
              <li>To be an organization that has a passion for excellence in every activity we conduct.</li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="card col-md-6 col-sm-12 col-xs-12">
    <div class="bg-image-card-1">
      <div class="card-header bg-color text-white text-center text-size-header">
        Warehouse
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="text-size">
            We have started warehousing business to provide a single window supply chain services, especially for toxic
            chemicals & pesticides  delivery by a compact & covered vehicle with a professional manner
          </p>
        </blockquote>
      </div>
    </div>
    <div class="bg-image-card-1 margin-10">
      <div class="card-header bg-color text-white text-center text-size-header">
        Vision
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="text-size">
            Our continuous growth with our valued clientele is a reflection of our good design,
            effective project management and customers' satisfaction.
          </p>
        </blockquote>
      </div>

    </div>
  </div>
</div>