.aboutus{
    margin: 0px;
    padding:4rem 3rem 4rem 3rem ;
    width:100%;
    .center {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    .about-us-images {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    .imgage-icon{
        border-radius: 50%;
        width: 100%;
        height: auto;
    }

    }
    .details-about{
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }
}