.aboutus{
    margin: 0px 0px -3rem 0px;
    padding:6rem 3rem 4rem 3rem ;
    width:100%;
    background-color: #f5f5dc;
    .center {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    .about-us-images {
        text-align: center;
        padding-top: 0rem;
        padding-bottom: 0rem;
    .imgage-icon{
        border-radius: 50%;
        width: 100%;
        height: auto;
    }

    }
    .details-about{
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: justify;

    }
}