<div class="aboutus">
  <h1 class="center">About Us!</h1>
  <div class="row about-us-images">
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 imgage-icon">
      <img src="../../assets/noImage.png" alt="No Image available"> 
    </div> -->
    <div class="responsive imgage-icon">
      <img src="../../assets/KPG_Logo2.png" alt="">
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 imgage-icon">
      <img src="../../assets/noImage.png" alt="No Image available">
    </div> -->
  </div>
  <div class="row details-about">
    <p>
      We KPG Logistics (Formely Kamta Prasad Gupta H.U.F) is a 25 years old seasoned, established logistics.
      To serve our customers better looking into the business urgency and enhancement of our portfolio. <br>
      Introducing ourselves as a specialized secondary transportation Company for entire south Bengal territory, and
      have been giving logistics service for renowned Agrochemical Company like</p> <br>
      <ul>
        <li> <a target="_blank" href="https://www.indiamart.com/vedic-agro-science/">Agroscience</a> </li>
        <li> <a target="_blank" href="http://www.gharda.com">Gharda Chemical Ltd</a></li>
        <li> <a target="_blank" href="http://www.biostadt.com">Biostadt ltd</a></li>
        <li> <a target="_blank" href="http://www.dhanuka.com">Dhanuka Agritech</a></li>
        <li> <a target="_blank" href="https://www.corteva.us">Dow</a></li>
        <li> <a target="_blank" href="https://www.mahindra.com">Mahindra & Mahindra</a></li>
        <li> <a target="_blank" href="https://www.indiaglycols.com">IGL (Indian Glycol Ltd.)</a></li>
        <li> <a target="_blank" href="http://www.advancepesticides.com">ADVANCE PESTICIDES</a></li>
        <li> <a target="_blank" href="http://www.fmc.com">FMC</a></li>
        <li> <a target="_blank" href="http://www.sikkoindia.com">SIKKO</a></li>
        <li> <a target="_blank" href="http://hil.gov.in/HomePage.aspx">HIL (Hindustan Insecticides Ltd.)</a></li>
        <!-- <li> <a target="_blank" href="http://www.dhanuka.com">UDDAN</a></li> -->
      </ul> 
      <p> We have started warehousing business to provide a single window supply chain services, especially for toxic
      chemicals & pesticides delivery by a compact & covered vehicle with a professional manner
    </p>
    
  </div>
</div>