<div>
  <h3>Our Clients</h3>
  <p>
      Introducing ourselves as a specialized secondary transportation Company for entire south Bengal territory,
       and have been giving logistics service for renowned Agrochemical Company like
  </p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client website</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client website</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 card-client">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Client Name</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Client Website</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


<!-- 
<section>
  <h3>Our Clients</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client Name</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Client Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client Name</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Client Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client Name</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Client Website</a>
        </div>
      </div>
    </div>
  </div>
</section> -->