<div class="wrap-contact100">
  <div class="contact100-form-title" style="background-image: url(./assets/contactUs.jpg);">
    <span class="contact100-form-title-1">
      Contact Us
    </span>
    <span class="contact100-form-title-2">
      Feel free to drop us a line below!
    </span>
  </div>
<!--  -->
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='/home';}"> </iframe>
  <form class="contact100-form validate-form" method="POST" action="https://script.google.com/macros/s/AKfycbw64a_6GZtLrCv1PDvXbb6zDOZzUz0SvbyRxGOF/exec" target="hidden_iframe" 
  onsubmit="submitted=true;">
    <div class="wrap-input100 validate-input" data-validate="Name is required">
      <span class="label-input100">Full Name:</span>
      <input class="input100" type="text" id="name" name="name" placeholder="Enter full name" required>
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
      <span class="label-input100">Email:</span>
      <input class="input100" type="text" id="email" name="email" placeholder="Enter email addess">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Phone is required">
      <span class="label-input100">Phone:</span>
      <input class="input100" type="text" name="phone" id="phone" placeholder="Enter phone number" required>
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Message is required">
      <span class="label-input100">Message:</span>
      <textarea class="input100" id="message" name="message" placeholder="Your Comment..."></textarea>
      <span class="focus-input100"></span>
    </div>

    <div class="container-contact100-form-btn">
      <button class="contact100-form-btn" (click)="submitForm()" >
        <span>
          Submit
          <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
        </span>
      </button>
    </div>
  </form>
</div>